body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.formsspace {
    max-width: 900px;
    margin: 40px auto;
    text-align: center;
    line-height: 1.6;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 4px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 500px;
    margin: 40px auto;
    color: #f4f4f6;
}

.btnspace {
    margin: 50px 100px 50px 150px;
}

.btn {
    background-color: #15044d93;
    color: #ccc;
    padding: 20px 25px;
    font-size: 20px;
    border: solid 0.5px #ccc;
    text-decoration: none;
    flex: 1;
    border-radius: 10px;
}

form{
    display:flex;
    flex-direction:column;
    gap:10px;
    max-width:500px;
    color: #f4f4f6;
}

input, textarea{
    padding:10px;
    border:1px solid #ccc;
}

button {
    padding: 12px;
    border: none;
    background: #0c1f3f;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

button:hover{
    background:#1b3c72;
}

footer {
    background-color: rgb(2, 2, 21);
    padding: 20px 0;
    margin-top: 80px;
    color: #f2f1f5;
    font-size: 10x;
    text-align: center;
    width: 100%;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-left: 500px;
}

.contato-texto{
    max-width: 800px;
    margin: 0 auto 30px auto;
    text-align: center;
    line-height: 1.6;
}