
body {
    min-height: 100%;
    background-image: linear-gradient(#050538, #000000); /*cor de fundo da página*/
    margin: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

nav a{
    color: inherit;
}

.wrapperContainer{
    margin: 150px 60px 0 25px;
}

.homepage{
    margin-top: 100px;
}

.wrapperContainer-fixed{
    position: fixed;
    width: 100%;
}

.headercontainer{
    background-color: #040227f2;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px 40px 5px;
    width: 100%;
}

.header_nav a{
    padding: 10px 15px;
    border: solid 0.5px;
    text-decoration: none;
}

.header_nav ul{
    display: flex;
    gap: 10px;
    list-style-type: none;
}

.header_nav a:hover{
    background-color:#0909979c;
}

 .img-logo {
    transform: translateY(-45px);
    width: 400px;
    margin-right: 10px;
    margin-bottom: -110px;
}

ul {
    color: #f3f3f4;
}

footer {
    background-color: rgb(2, 2, 21);
    padding: 30px;
    color: #f2f1f5;
    font-size: 16px;
    text-align: center;
    text-shadow: -1px 1px 5px #ccc;
}

h1{
    color: #ccc;
}

p{
    color: #ccc;
}

 .slides{
    position: relative;
    display: flex;
    transition: transform 0.5s ease;
}

.slides::after{
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: radial-gradient(
        circle at var(--x) var(--y),
        rgba(255,255,255,0.65),
        transparent 40%
    );
    transition: opacity 0.2s;
}